---
---
@use "main";
$bgcolor: rgb(32, 40, 80);
$textcolor: rgb(255, 255, 255);
$fontsize: 25px;
/*use the variables in the CSS*/
body{
    background-color: $bgcolor;
    color: $textcolor;
    font-size: $fontsize;
}